@{
    ViewData["Title"] = "Kontakt:";
}
<body background="\uploads\cinema3.jpg">
    <h2>@ViewData["Title"]</h2>


    <address>
        <b>iMovie</b></br>
        Poznań ul. Żylińskiego 30<br />
        <abbr title="Phone">Tel.</abbr>
        783 323 423
    </address>

    <address>
        <strong>Dział Techniczny:</strong> <a href="mailto:Support@example.com">techniczny@imovie.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@imovie.com</a>
    </address>
</body>