
@{
    ViewData["Title"] = "Start";
}
<body background="\uploads\cinema1.jpg">

    <font color="white">
    <font color="#ff4d4d"> <h2>iMovie</h2></font>
    <HTML>

    <HEAD>

        <TITLE>Your Title Here</TITLE>

    </HEAD>

    <body background="\uploads\cinema1.jpg">



        <HR>
        <H1>
            Codziennie aktualizowany repertuar o nowe tytuły!
            Jedyne takie kino w Poznaniu!
        </H1>

        <H2>Tylko u nas bilety dla każdego w cenie<font color="#ff4d4d"> 35</font> zł ! </H2>
        Jako miłośnicy kinematografii dbamy o to aby nasz widz miał możliwość obejżeć najświeższe premiery
        jak i również najlepsze klasyki! U nas nie znajdziesz podsmażonego kotleta więc nie licz
        również, że codziennie będą odtwarzane te same filmy! Jako jedyne kino w Poznaniu, codziennie dbamy o to
        aby aktualizować nasz repertuar nowymi tytuami a stare - usuwamy, więc śpiesz się! Najważniejsze dla nas
        to klimat podczas oglądania, dlatego nasze 2 sale są wyposażone w skurzane i ruchome fotele, aby przeżycia z seansu
        były jak najbardziej satysfakcjonujące.
        <p></p>
        <p>Kino dzieli się na dwie sale:</p>

        <p></p>
        <P><B>Sala 1 - Filmy na tej sali odtwarzane są z polskimi napisami - dla prawdziwych kinomanów którzy lubią głos swoich ulubionych aktorów!</B></P>
        <p><B>Sala 2 - Filmy na tej sali odtwarzane są z polskim lektorem - dla leniuchów, którzy zamiast czytać wolą skupić się na prawdziwej akcji i grze aktorskiej!</B></p>

        <H2><font color="#ff4d4d">Zarejestruj się</font> już dziś ! </H2>

        <HR>
</font>
    </body>

</HTML>
</body>